<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
        <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
        <meta name="author" content="FreeHTML5.co" />

        <!--
          //////////////////////////////////////////////////////

          FREE HTML5 TEMPLATE
          DESIGNED & DEVELOPED by FREEHTML5.CO

          Website: 		http://freehtml5.co/
          Email: 			info@freehtml5.co
          Twitter: 		http://twitter.com/fh5co
          Facebook: 		https://www.facebook.com/fh5co

          //////////////////////////////////////////////////////
           -->

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
        <meta charset="UTF-8" />
        <title>{% block title %}Challenge Yourself!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/icomoon.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/magnific-popup.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/owl.carousel.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/owl.theme.default.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/simple-line-icons.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fosBundle.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/myStyle.css') }}"/>
    </head>
    <body>
    <navbar role="banner" id="fh5co-header">
        <div class="fluid-container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="{{ path('app_default_index') }}">Challenge</a>

                </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('app_default_index') }}"><span>Home</span></a></li>
                        <li><a href="{{ path('app_default_about') }}"><span>About</span></a></li>
                        <li><a href="{{ path('app_default_contact') }}"><span>Contact</span></a></li>
                        <li><a href="{{ path('app_challenge_index') }}" ><span>Challenge</span></a></li>
                        <li><a href="{{ path('app_friend_friendlist') }}"><span>Friends</span></a></li>

                        {% if app.user %}
                            <li><a class="log-in" href="http://localhost:8000/logout"><span>Log Out</span></a></li>

                        {% else %}
                            <li><a class="log-in" href="http://localhost:8000/login"><span>Login</span></a></li>
                            <li><a class="sign-up" href="http://localhost:8000/register"><span>Sign Up</span></a></li>
                        {% endif %}
                    </ul>
            </nav>
        </div>
    </navbar>
    <div style="padding-top:60px">
        {% block body %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countTo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.stellar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.style.switcher.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/respond.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
