{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="SUBMIT" value="Dodaj" class="btn btn-primary" style="float: right">
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
