{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}

    {#<a href="{{ path('app_challenge_index') }}"><button class="button-color">Lista challengy</button></a>#}
    {#<a href="{{ path('app_friend_friendlist') }}"><button class="button-color">friend list</button></a>#}
    {#<a href="{{ path('app_friend_find') }}"><button class="button-color">szukaj ziomka</button></a>#}
    {#<a href="{{ path('app_friend_requests') }}"><button class="button-color">zapro</button></a>#}

{#{% endblock %}#}

{#{% block stylesheets %}#}

{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<section id="fh5co-home" data-section="home" style="background-image: url(http://localhost:8000/images/full_image_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="to-animate">Challenge Yourself</h1>
                        <h2 class="to-animate">Ziomem wystartuj juz dzisiaj. Zapierdalaj jak dzik by byc najlepszym elo elo 3 2 23</h2>
                        <div class="call-to-action">
                            {% if app.user %}
                                <a href="{{ path('app_challenge_index') }}" class="demo to-animate">Wyznania</a>
                                <a href="{{ path('app_friend_friendlist') }}" class="download to-animate">Znajomi</a>
                            {% else %}
                                <a href="register" class="demo to-animate">Rejestracja</a>
                                <a href="login" class="download to-animate">Logowanie</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{#<section id="fh5co-services" data-section="services">#}
    {#<div class="fh5co-services">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>We Offer Services</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-3 text-center">#}
                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-chemistry"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Hand-crafted with Detailed</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-energy"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Light and Fast</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3 text-center">#}
                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-trophy"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Award-winning Landing Page</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-paper-plane"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Sleek and Smooth Animation</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3 text-center">#}
                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-people"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Satisfied &amp; Happy Clients</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-screen-desktop"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Looks Amazing on Devices</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3 text-center">#}
                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-life-saver"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>24/7 Help &amp; Support</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}

                    {#<div class="box-services">#}
                        {#<div class="icon to-animate">#}
                            {#<span><i class="icon-key"></i></span>#}
                        {#</div>#}
                        {#<div class="fh5co-post to-animate">#}
                            {#<h3>Secure Account</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="core-features">#}
        {#<div class="grid2 to-animate" style="background-image: url(http://localhost:8000/images/full_image_5.jpg);">#}
        {#</div>#}
        {#<div class="grid2 fh5co-bg-color">#}
            {#<div class="core-f">#}
                {#<h2 class="to-animate">Core Features</h2>#}
                {#<div class="row">#}
                    {#<div class="col-md-6">#}
                        {#<div class="core">#}
                            {#<i class="icon-cloud-download to-animate-2"></i>#}
                            {#<div class="fh5co-post to-animate">#}
                                {#<h3>Free Download</h3>#}
                                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="core">#}
                            {#<i class="icon-laptop to-animate-2"></i>#}
                            {#<div class="fh5co-post to-animate">#}
                                {#<h3>Responsive Layout</h3>#}
                                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="core">#}
                            {#<i class="icon-hand-paper-o to-animate-2"></i>#}
                            {#<div class="fh5co-post to-animate">#}
                                {#<h3>24/7 Help &amp; Support</h3>#}
                                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-6">#}
                        {#<div class="core">#}
                            {#<i class="icon-lightbulb-o to-animate-2"></i>#}
                            {#<div class="fh5co-post to-animate">#}
                                {#<h3>Free Update</h3>#}
                                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="core">#}
                            {#<i class="icon-trophy to-animate-2"></i>#}
                            {#<div class="fh5co-post to-animate">#}
                                {#<h3>Featured Template</h3>#}
                                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="core">#}
                            {#<i class="icon-columns2 to-animate-2"></i>#}
                            {#<div class="fh5co-post to-animate">#}
                                {#<h3>Lots of Elements</h3>#}
                                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{#<section id="fh5co-explore" data-section="explore">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12 section-heading text-center">#}
                {#<h2 class="to-animate"><span>Explore Our Projects</span></h2>#}
                {#<div class="row">#}
                    {#<div class="col-md-8 col-md-offset-2 subtext to-animate">#}
                        {#<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="fh5co-project">#}
        {#<div class="container-fluid">#}
            {#<div class="row">#}
                {#<div class="col-md-4 text-center">#}
                    {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-1.jpg);">#}
                        {#<div class="desc">#}
                            {#<h3><a href="#">Work Title Here</a></h3>#}
                            {#<span>Web Design</span>#}

                            {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                            {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="col-md-6">#}
                            {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-2.jpg);">#}
                                {#<div class="desc">#}
                                    {#<h3><a href="#">Work Title Here</a></h3>#}
                                    {#<span>Web Design</span>#}

                                    {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                                    {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-6">#}
                            {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-5.jpg);">#}
                                {#<div class="desc">#}
                                    {#<h3><a href="#">Work Title Here</a></h3>#}
                                    {#<span>Web Design</span>#}

                                    {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                                    {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-9.jpg);">#}
                        {#<div class="desc">#}
                            {#<h3><a href="#">Work Title Here</a></h3>#}
                            {#<span>Web Design</span>#}

                            {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                            {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4 text-center">#}
                    {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-4.jpg);">#}
                        {#<div class="desc">#}
                            {#<h3><a href="#">Work Title Here</a></h3>#}
                            {#<span>Web Design</span>#}

                            {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                            {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-3.jpg);">#}
                        {#<div class="desc">#}
                            {#<h3><a href="#">Work Title Here</a></h3>#}
                            {#<span>Web Design</span>#}

                            {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                            {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="col-md-6">#}
                            {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-10.jpg);">#}
                                {#<div class="desc">#}
                                    {#<h3><a href="#">Work Title Here</a></h3>#}
                                    {#<span>Web Design</span>#}

                                    {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                                    {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-6">#}
                            {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-11.jpg);">#}
                                {#<div class="desc">#}
                                    {#<h3><a href="#">Work Title Here</a></h3>#}
                                    {#<span>Web Design</span>#}

                                    {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                                    {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4 text-center">#}
                    {#<div class="row">#}
                        {#<div class="col-md-6">#}
                            {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-6.jpg);">#}
                                {#<div class="desc">#}
                                    {#<h3><a href="#">Work Title Here</a></h3>#}
                                    {#<span>Web Design</span>#}

                                    {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                                    {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-6">#}
                            {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-7.jpg);">#}
                                {#<div class="desc">#}
                                    {#<h3><a href="#">Work Title Here</a></h3>#}
                                    {#<span>Web Design</span>#}

                                    {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                                    {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-8.jpg);">#}
                        {#<div class="desc">#}
                            {#<h3><a href="#">Work Title Here</a></h3>#}
                            {#<span>Web Design</span>#}

                            {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                            {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="project-grid to-animate-2" style="background-image:  url(http://localhost:8000/images/project-12.jpg);">#}
                        {#<div class="desc">#}
                            {#<h3><a href="#">Work Title Here</a></h3>#}
                            {#<span>Web Design</span>#}

                            {#<p class="download"><a href="#"><i class="icon-download"></i></a></p>#}
                            {#<p class="love"><a href="#"><i class="icon-heart-o"></i></a></p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div id="fh5co-counter-section" class="fh5co-counters">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>Some Fun Facts</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row to-animate">#}
                {#<div class="col-md-3 text-center">#}
                    {#<span class="fh5co-counter js-counter" data-from="0" data-to="3452" data-speed="5000" data-refresh-interval="50"></span>#}
                    {#<span class="fh5co-counter-label">Cups of Coffee</span>#}
                {#</div>#}
                {#<div class="col-md-3 text-center">#}
                    {#<span class="fh5co-counter js-counter" data-from="0" data-to="234" data-speed="5000" data-refresh-interval="50"></span>#}
                    {#<span class="fh5co-counter-label">Client</span>#}
                {#</div>#}
                {#<div class="col-md-3 text-center">#}
                    {#<span class="fh5co-counter js-counter" data-from="0" data-to="6542" data-speed="5000" data-refresh-interval="50"></span>#}
                    {#<span class="fh5co-counter-label">Projects</span>#}
                {#</div>#}
                {#<div class="col-md-3 text-center">#}
                    {#<span class="fh5co-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>#}
                    {#<span class="fh5co-counter-label">Finished Projects</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{#</section>#}
{#<section id="fh5co-testimony" class="fh5co-bg-color" data-section="testimony">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12 section-heading text-center">#}
                {#<h2 class="to-animate"><span>Our Happy Clients</span></h2>#}
                {#<div class="row">#}
                    {#<div class="col-md-8 col-md-offset-2 subtext to-animate">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div class="col-md-12 to-animate">#}
                {#<div class="wrap-testimony">#}
                    {#<div class="owl-carousel-fullwidth">#}
                        {#<div class="item">#}
                            {#<div class="testimony-slide active text-center">#}
                                {#<figure>#}
                                    {#<img src="{{ asset('images/person2.jpg') }}" alt="user">#}
                                {#</figure>#}
                                {#<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>#}
                                {#<blockquote>#}
                                    {#<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
                                {#</blockquote>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="item">#}
                            {#<div class="testimony-slide active text-center">#}
                                {#<figure>#}
                                    {#<img src="{{ asset('images/person3.jpg') }}" alt="user">#}
                                {#</figure>#}
                                {#<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>#}
                                {#<blockquote>#}
                                    {#<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
                                {#</blockquote>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="item">#}
                            {#<div class="testimony-slide active text-center">#}
                                {#<figure>#}
                                    {#<img src="{{ asset('images/person2.jpg') }}" alt="user">#}
                                {#</figure>#}
                                {#<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>#}
                                {#<blockquote>#}
                                    {#<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
                                {#</blockquote>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{#<div class="getting-started getting-started-1">#}
    {#<div class="getting-grid" style="background-image:  url(http://localhost:8000/images/full_image_3.jpg);">#}
        {#<div class="desc">#}
            {#<h2>Getting <span>Started</span></h2>#}
            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>#}
        {#</div>#}
    {#</div>#}
    {#<a href="#" class="getting-grid2">#}
        {#<div class="call-to-action text-center">#}
            {#<p href="#" class="sign-up">Sign Up For Free</p>#}
        {#</div>#}
    {#</a>#}
{#</div>#}

{#<section id="fh5co-pricing" data-section="pricing">#}
    {#<div class="fh5co-pricing">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>Plans Built For Every One</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="row">#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="price-box to-animate">#}
                        {#<h2 class="pricing-plan">Starter</h2>#}
                        {#<div class="price"><sup class="currency">$</sup>7<small>/mo</small></div>#}
                        {#<p>Basic customer support for small business</p>#}
                        {#<hr>#}
                        {#<ul class="pricing-info">#}
                            {#<li>10 projects</li>#}
                            {#<li>20 Pages</li>#}
                            {#<li>20 Emails</li>#}
                            {#<li>100 Images</li>#}
                        {#</ul>#}
                        {#<p><a href="#" class="btn btn-primary">Read More</a></p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="price-box to-animate">#}
                        {#<h2 class="pricing-plan">Regular</h2>#}
                        {#<div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>#}
                        {#<p>Basic customer support for small business</p>#}
                        {#<hr>#}
                        {#<ul class="pricing-info">#}
                            {#<li>15 projects</li>#}
                            {#<li>40 Pages</li>#}
                            {#<li>40 Emails</li>#}
                            {#<li>200 Images</li>#}
                        {#</ul>#}
                        {#<p><a href="#" class="btn btn-primary">Read More</a></p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="clearfix visible-sm-block"></div>#}
                {#<div class="col-md-3 col-sm-6 to-animate">#}
                    {#<div class="price-box popular">#}
                        {#<div class="popular-text">Best value</div>#}
                        {#<h2 class="pricing-plan">Plus</h2>#}
                        {#<div class="price"><sup class="currency">$</sup>79<small>/mo</small></div>#}
                        {#<p>Basic customer support for small business</p>#}
                        {#<hr>#}
                        {#<ul class="pricing-info">#}
                            {#<li>Unlimitted projects</li>#}
                            {#<li>100 Pages</li>#}
                            {#<li>100 Emails</li>#}
                            {#<li>700 Images</li>#}
                        {#</ul>#}
                        {#<p><a href="#" class="btn btn-primary">Read More</a></p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="price-box to-animate">#}
                        {#<h2 class="pricing-plan">Enterprise</h2>#}
                        {#<div class="price"><sup class="currency">$</sup>125<small>/mo</small></div>#}
                        {#<p>Basic customer support for small business</p>#}
                        {#<hr>#}
                        {#<ul class="pricing-info">#}
                            {#<li>Unlimitted projects</li>#}
                            {#<li>Unlimitted Pages</li>#}
                            {#<li>Unlimitted Emails</li>#}
                            {#<li>Unlimitted Images</li>#}
                        {#</ul>#}
                        {#<p><a href="#" class="btn btn-primary">Read More</a></p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="row">#}
                {#<div class="col-md-6 col-md-offset-3 to-animate">#}
                    {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. <a href="#">Learn More</a></p>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}
{#</section>#}

{#<section id="fh5co-team" class="fh5co-bg-color" data-section="team">#}
    {#<div class="fh5co-team">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>Meet The Team</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-4">#}
                    {#<div class="team-box text-center to-animate-2">#}
                        {#<div class="user"><img class="img-reponsive" src="{{ asset('images/person4.jpg') }}" alt="Roger Garfield"></div>#}
                        {#<h3>Roger Garfield</h3>#}
                        {#<span class="position">Co-Founder, Lead Developer</span>#}
                        {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#<ul class="social-media">#}
                            {#<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>#}
                            {#<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>#}
                            {#<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>#}
                            {#<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>#}
                            {#<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="team-box text-center to-animate-2">#}
                        {#<div class="user"><img class="img-reponsive" src="{{ asset('images/person2.jpg') }}" alt="Roger Garfield"></div>#}
                        {#<h3>Kevin Steve</h3>#}
                        {#<span class="position">Co-Founder, Product Designer</span>#}
                        {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#<ul class="social-media">#}
                            {#<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>#}
                            {#<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>#}
                            {#<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>#}
                            {#<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>#}
                            {#<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-4">#}
                    {#<div class="team-box text-center to-animate-2">#}
                        {#<div class="user"><img class="img-reponsive" src="{{ asset('images/person3.jpg') }}" alt="Roger Garfield"></div>#}
                        {#<h3>Ross Standford</h3>#}
                        {#<span class="position">Full Stack Developer</span>#}
                        {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#<ul class="social-media">#}
                            {#<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>#}
                            {#<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>#}
                            {#<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>#}
                            {#<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>#}
                            {#<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{#<section id="fh5co-blog" data-section="blog">#}
    {#<div class="fh5co-blog">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>Read Our Blog</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-6 to-animate blog">#}
                    {#<div class="blog-grid" style="background-image: url(http://localhost:8000/images/logo3.png');">#}
                        {#<div class="date">#}
                            {#<span>03</span>#}
                            {#<small>Aug</small>#}
                        {#</div>#}
                    {#</div>#}
                    {#<a href="#" class="desc">#}
                        {#<div class="desc-grid">#}
                            {#<h3>Download Free HTML5 Template</h3>#}
                        {#</div>#}
                        {#<div class="reading">#}
                            {#<i class="icon-arrow-right2"></i>#}
                        {#</div>#}
                    {#</a>#}
                {#</div>#}

                {#<div class="col-md-6 to-animate blog">#}
                    {#<div class="blog-grid" style="background-image: url(http://localhost:8000/images/full_image_4.jpg);">#}
                        {#<div class="date">#}
                            {#<span>04</span>#}
                            {#<small>Aug</small>#}
                        {#</div>#}
                    {#</div>#}
                    {#<a href="#" class="desc">#}
                        {#<div class="desc-grid">#}
                            {#<h3>Download Free HTML5 Template</h3>#}
                        {#</div>#}
                        {#<div class="reading">#}
                            {#<i class="icon-arrow-right2"></i>#}
                        {#</div>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{#<section id="fh5co-faq" class="fh5co-bg-color" data-section="faq">#}
    {#<div class="fh5co-faq">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>Common Questions</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">Everything you need to know before you get started</h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-6">#}
                    {#<div class="box-faq to-animate-2">#}
                        {#<i class="icon-check2"></i>#}
                        {#<div class="desc">#}
                            {#<h3>What is Twist?</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="box-faq to-animate-2">#}
                        {#<i class="icon-check2"></i>#}
                        {#<div class="desc">#}
                            {#<h3>I have technical problem, who do I email? </h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="box-faq to-animate-2">#}
                        {#<i class="icon-check2"></i>#}
                        {#<div class="desc">#}
                            {#<h3>How do I use Twist features?</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-6">#}
                    {#<div class="box-faq to-animate-2">#}
                        {#<i class="icon-check2"></i>#}
                        {#<div class="desc">#}
                            {#<h3>What language are available?</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="box-faq to-animate-2">#}
                        {#<i class="icon-check2"></i>#}
                        {#<div class="desc">#}
                            {#<h3>Can I have a username that is already taken?</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="box-faq to-animate-2">#}
                        {#<i class="icon-check2"></i>#}
                        {#<div class="desc">#}
                            {#<h3>Is Twist free?</h3>#}
                            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{#<section id="fh5co-trusted" data-section="trusted">#}
    {#<div class="fh5co-trusted">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12 section-heading text-center">#}
                    {#<h2 class="to-animate"><span>Trusted By</span></h2>#}
                    {#<div class="row">#}
                        {#<div class="col-md-8 col-md-offset-2 subtext">#}
                            {#<h3 class="to-animate">We’re trusted by these popular companies</h3>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-2 col-sm-3 col-xs-6 col-sm-offset-0 col-md-offset-1">#}
                    {#<div class="partner-logo to-animate-2">#}
                        {#<img src="{{ asset('images/logo1.png') }}" alt="Partners" class="img-responsive">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-2 col-sm-3 col-xs-6">#}
                    {#<div class="partner-logo to-animate-2">#}
                        {#<img src="{{ asset('images/logo2.png') }}" alt="Partners" class="img-responsive">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-2 col-sm-3 col-xs-6">#}
                    {#<div class="partner-logo to-animate-2">#}
                        {#<img src="{{ asset('images/logo3.png') }}" alt="Partners" class="img-responsive">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-2 col-sm-3 col-xs-6">#}
                    {#<div class="partner-logo to-animate-2">#}
                        {#<img src="{{ asset('images/logo4.png') }}" alt="Partners" class="img-responsive">#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-2 col-sm-12 col-xs-12">#}
                    {#<div class="partner-logo to-animate-2">#}
                        {#<img src="{{ asset('images/logo5.png') }}" alt="Partners" class="img-responsive">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

{#<div class="getting-started getting-started-1">#}
    {#<div class="getting-grid" style="background-image:  url(http://localhost:8000/images/full_image_3.jpg);">#}
        {#<div class="desc">#}
            {#<h2>Getting <span>Started</span></h2>#}
            {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>#}
        {#</div>#}
    {#</div>#}
    {#<a href="#" class="getting-grid2">#}
        {#<div class="call-to-action text-center">#}
            {#<p href="#" class="sign-up">Sign Up For Free</p>#}
        {#</div>#}
    {#</a>#}
{#</div>#}

{#<div id="fh5co-footer" role="contentinfo">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-4 to-animate">#}
                {#<h3 class="section-title">About Us</h3>#}
                {#<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>#}
                {#<p class="copy-right">&copy; 2015 Twist Free Template. <br>All Rights Reserved. <br>#}
                    {#Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>#}
                    {#Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>#}
                {#</p>#}
            {#</div>#}

            {#<div class="col-md-4 to-animate">#}
                {#<h3 class="section-title">Our Address</h3>#}
                {#<ul class="contact-info">#}
                    {#<li><i class="icon-map-marker"></i>198 West 21th Street, Suite 721 New York NY 10016</li>#}
                    {#<li><i class="icon-phone"></i>+ 1235 2355 98</li>#}
                    {#<li><i class="icon-envelope"></i><a href="#">info@yoursite.com</a></li>#}
                    {#<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>#}
                {#</ul>#}
                {#<h3 class="section-title">Connect with Us</h3>#}
                {#<ul class="social-media">#}
                    {#<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>#}
                    {#<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>#}
                    {#<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>#}
                    {#<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-md-4 to-animate">#}
                {#<h3 class="section-title">Drop us a line</h3>#}
                {#<form class="contact-form">#}
                    {#<div class="form-group">#}
                        {#<label for="name" class="sr-only">Name</label>#}
                        {#<input class="form-control" id="name" placeholder="Name">#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<label for="email" class="sr-only">Email</label>#}
                        {#<input type="email" class="form-control" id="email" placeholder="Email">#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<label for="message" class="sr-only">Message</label>#}
                        {#<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div id="map" class="fh5co-map"></div>#}
{% endblock %}

{% block javascripts %}{% endblock %}

