{% trans_default_domain 'FOSUserBundle' %}
<div class="register">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>

{{ form_end(form) }}
</div>
