.findForm{
    width: 503px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:13vh;
}

.addChallenge{
    width: 751px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11vh;
    text-align: center;
}

.challenges{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11vh;
}

table{text-align: center}
table th{text-align: center}